

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<script language="javascript" src="../js/boxes.js"></script>
<!-- 	<link type="text/css" rel="stylesheet" media="all" href="../css/arcs.css" /> -->
	
</head>
<body>
	<div id="sketch"></div>
</body>
</html>