<script language="javascript" src="../js/play_one.js"></script>

<h1>play one</h1>
{{!-- <div id="content"></div> --}}
<div class="main">
  <h2>Device Orientation</h2>
  <table>
  	 <tr>
      <td>Touch X</td>
      <td id="posX"></td>
    </tr>
     <tr>
      <td>Touch Y</td>
      <td id="posY"></td>
    </tr>
    <tr>
      <td>Event Orientation Support</td>
      <td id="doOrientationEvent"></td>
    </tr>
    <tr>
      <td>Event Accelaration Support</td>
      <td id="doAccelEvent"></td>
    </tr>
    <tr>
      <td>Tilt Left/Right; y axis (-90 to 90) [gamma]: </td>
      <td id="doTiltLR"></td>
    </tr>
    <tr>
      <td>Tilt Front/Back; x axis (-180 to 180); [beta]: </td>
      <td id="doTiltFB"></td>
    </tr>
    <tr>
      <td>Direction; z axis (0 to 360); [alpha]: </td>
      <td id="doDirection"></td>
    </tr>
   </table>
</div>
