<script language="javascript" src="../js/practice.js"></script>
<script src="../lib/nunchuck.js"></script>
<script src="../js/nunchuck-sketch.js"></script>
<link type="text/css" rel="stylesheet" media="all" href="../css/practice.css" />
</head>

<body>
  <nav>
    <div class="nav-left">
      <div>On your mobile device go to:
      <br><span>https://p5-interactive.herokuapp.com/mobile</span></div>
    <div class="room-id">...then enter ROOM ID: <span></span></div>
    </div>
    <div class="nav-right">
      <div class="users">USERS ONLINE:</div>
    </div>
  </nav>
  {{!-- <div id="sound-canvas"></div> --}}
</body>