<script language="javascript" src="../js/practice.js"></script>
<script src="../lib/nunchuck.js"></script>
<script src="../js/nunchuck-sketch.js"></script>
<link type="text/css" rel="stylesheet" media="all" href="../css/practice.css" />
</head>

<body>
  <nav>
    <div class="nav-left">
      <div>Go to: <span>https://p5-interactive.herokuapp.com/mobile</span> </br>  
      on your mobile device and enter the below room id...</div>
    <div class="room-id"> ROOM ID: </div>
    </div>
    <div class="nav-right">
      <div class="users">USERS ONLINE:</div>
    </div>
  </nav>
  {{!-- <div id="sound-canvas"></div> --}}
</body>