<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="javascript" src="../js/worm1.js"></script>
{{!-- <script src="../js/nun-test.js"></script> --}}
<script src="../lib/nunchuck.js"></script>
<script>
  player_data = {}; 
  var socket = io();
</script>

<style>
  .code {
    position: fixed;
    font-size: 15em;
    opacity: .5;
    right: .2em;
    bottom: 0;
  }
  .users {
    font-family: 'Montserrat', 'Helvetic Neue', 'Helvetica', sans-serif;
    font-size: 1.2em;
    top: 8px;
    left: 8px;
  }
</style>
</head>

<body>
  <h1> RECEIVER </h1>

  <h2 class="room-id"> Room Id: </h2>

  <h3> DATA </h3>

  <div class="code"></div>
  <div class="users">USERS ONLINE:</div>
  <div id="sound-canvas"></div>
</body>