button.gamepad {
  width: 60% !important;
}

button.connect {
  width: 60% !important;
}

#join {
  width: 60%;
}

#controller {
  width: 40%;
  display: none;
}

canvas {
  position: relative;
  display: none;
  background-color: red !important;
}

.bottom-strip{
	width: 100%
	height: 70%;
}

.right.commands button {
  position: absolute;
  top: -275px;
  left: 100px;
}