button.gamepad {
  width: 60% !important;
}

button.connect {
  width: 60% !important;
}

#join {
  width: 60%;
}

#controller {
  width: 40%;
  display: none;
}

canvas {
  position: relative;
  display: none;
  background-color: red !important;
}