button.gamepad {
  width: 60% !important;
}

button.connect {
  width: 60% !important;
}

#join {
  width: 60%;
}

#controller {
  width: 40%;
  display: none;
}

canvas {
  position: relative;
  display: none;
  background-color: red !important;
}

.bottom-strip{
	width: 100%
	height: 70%;
}

.right.commands button {
  position: absolute;
  top: -275px;
  left: 100px;
}

button#strobe-btn {
	font-family: 'Montserrat', 'Helvetica', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  border: none;
  color: white;
	background: #808080 !important;
  border-radius: 0px;
  padding: 12px;
	display: block;
  background: #264e73 !important; 
  width: 80px;
  height: 80px;
  padding: 12px;
  display: none;
}


/* Slider */
.nunchuck-slider{
  display: none;
  -webkit-appearance:none;
  width:250px;
  height:20px;
  margin:10px 50px;
  background: linear-gradient(to right, #9A2720 0%, #9A2720 100%);
  background-size:150px 10px;
  background-position:center;
  background-repeat:no-repeat;
  overflow:hidden;
}

.nunchuck-slider::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:20px;
  height:20px;
  background:#F26B5E;
  position:relative;
  z-index:3;
  box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
}

.nunchuck-slider::-webkit-slider-thumb:after{
  content:" ";
  width:160px;
  height:10px;
  position:absolute;
  z-index:1;
  right:20px;
  top:5px;
  background: #ff5b32;
  background: linear-gradient(to right, #f088fc 1%, #AC6CFF 70%);
}

p{
  width:100%;
  text-align:center;
  color:white;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', Roboto, Arial, Sans-serif;
  font-size:32px;
  margin-top:30px;
}


