button.gamepad {
  width: 60% !important;
}

button.connect {
  width: 60% !important;
}

#join {
  width: 60%;
}

#controller {
  width: 40%;
  display: none;
}

canvas {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  display: none;
}